body {
  margin: 30px;
  width: 500px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: rgb(133, 133, 133);
  font-family: "Chivo", sans-serif;
}

.form {
  width: 300px;
  margin: 0 auto;
}

#result {
  margin-top: 30px;
}
